In [1]:
#Q1. Create one variable containing following type of data:
string1 = "vikash"
list1 = [1,2,3,4,"vikash",9.99]
float1= 3.55
tuple1 = ('Apple','Jackfruit','Banana','Sugarcane')

In [2]:
#Q2. Given are some following variables containing data:
var1 = ''
type(var1)

str

In [3]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [4]:
var3 = [ 'DS','ML','PYTHON']
type(var3)

list

In [5]:
var4 = 1
type(var4)

int

In [6]:
#Explain the use of the following operators using an example:

a=10/2
#it gives  division ans

In [7]:
a

5.0

In [8]:
b=100%10
#it gives reminder

In [9]:
b

0

In [10]:
c=10//3
#floor division
c

3

In [11]:
d= 2**5
#power oprator
d

32

In [12]:
#Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

myList = [1,2,3,4,5,"xyz",9.999,True,False,5+8j]
for i in myList:
    print(i)
    type(i)

1
2
3
4
5
xyz
9.999
True
False
(5+8j)

In [13]:
# Q5.  verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
A = int(input("Enter A"))
B = int(input("Enter B"))
count = 0
while A%B==0:
    count = count +1
    A= A/B
    
if count>0:
    print(f"{A} is divisible by {B} {count} times")
    
else:
      print(f"{A} is not divisible by P{B}")

Enter A 4000000
Enter B 5

256.0 is divisible by 5 6 times

In [2]:
#. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
#divisible by 3 or not

List = [6,8,3,23,88,99.32,56,77,99,1,10,44,75,100,80,90,60,11,87,15,114,732,999,30]
for i in List:
    if i%3==0:
        print(i)

6
3
99
75
90
60
87
15
114
732
999
30

In [4]:
# What do you understand about mutable and immutable data types? Give examples for both showing 
#this property   

l = [1,5,3,7,0,3,9]
print("before mutation")
for i in l:
    print(i)
l[3]= 55
print("after mution")
for i in l:
    print(i)

before mutation
1
5
3
7
0
3
9
after mution
1
5
3
55
0
3
9

In [ ]:
string ="1234567"
string[2] = 55