In [2]:
#Q1. How do you comment code in Python? What are the different types of comments

# this is single line comment


#this is
#multi line comment
# using # tag

""" this is multi
line comment using 
string literals"""

' this is multi\nline comment using \nstring literals'

In [3]:
# Q2. What are variables in Python? How do you declare and assign values to variables
A= 512
B= 626
var = 12345

In [7]:
#Q3. How do you convert one data type to another in Python


s = "10010"
  

c = int(s,2)
print ("After converting to integer base 2 : ", end="")
print (c)
  
# printing string converting to float
e = float(s)
print ("After converting to float : ", end="")
print (e)

After converting to integer base 2 : 18
After converting to float : 10010.0

In [21]:
#Q4. How do you write and execute a Python script from the command line?
"""It’s quite easy to run Python scripts from the command line.

1. Verify your terminal or command prompt can run Python
2. Create a Python script that is error-free
3. Use python your/file/name.py to run your script from the terminal"""

'It’s quite easy to run Python scripts from the command line.\n\n1. Verify your terminal or command prompt can run Python\n2. Create a Python script that is error-free\n3. Use python your/file/name.py to run your script from the terminal'

In [11]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

my_list = [1, 2, 3, 4, 5]

my_list[1:3:1]

[2, 3]

In [13]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

comlex_no = 5+6j
type(comlex_no)

complex

In [14]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it
named = 25

In [15]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

value = 9.99
type(value)

float

In [16]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable

name = "vikash dwivedi"
print(name)

vikash dwivedi

In [20]:
#Q10. Given the string "Hello, World!", extract the substring "World".

Str = "Hello World!"
Str[5:11:1]

' World'

In [23]:
# Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not

is_student = a;
a = bool(input("enter you are student or not [Enter 1 or 0]"))
if(is_student==1):
    print("you are a student")
    
else:
    print("you are )

enter you are student or not 6767